.bills-div {
    background-color: lightgreen;
    padding-bottom: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.top {
    margin-bottom: -10px
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    width: 80%;
    margin-left: 8px;
}


#bills-submit {
    width: 100px;
}