.bills-div {
    background-color: #848884;
    padding: 0 40px 20px 40px;
    /* padding-bottom: 20px; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: black;
    margin-left: -200px;
    box-shadow: 10px 10px 5px;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.top {
    margin-bottom: -10px
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    width: 350px;
    margin-left: 8px;
}


#bills-submit {
    width: 100px;
}

#bills-submit:hover {
    cursor: pointer;
}