.debt-form {
    border: solid-black;
    background-color: lightgreen;
    padding-bottom: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 400px;
}

.debt-header {
    margin-bottom: -10px;
}

.debt-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    width: 500px;
    margin: 15px 0 15px -40px;
    border-radius: 8px;
}


#debt-submit {
    width: 100px;
}