.debt-form {
    background-color: #848884;
    padding-bottom: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: color;
    width: 500px;
    box-shadow: 10px 10px 5px;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.debt-header {
    margin-bottom: -10px;
    padding: 0 40px;
}

.debt-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#debt-submit {
    width: 100px;
}

#debt-submit:hover {
    cursor: pointer;
}