.all-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    padding-top: 20px;
    padding-bottom: 400px;
    font-size: 1.4em;
}

#title {
    font-size: 50px;
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

#button1:hover {
    cursor: pointer;
    transform: scale(1.08);
    transition: 0.5s;
}

#button2:hover {
    cursor: pointer;
    transform: scale(1.08);
    transition: 0.5s;
}

#button3:hover {
    cursor: pointer;
    transform: scale(1.08);
    transition: 0.5s;
}

#button4:hover {
    cursor: pointer;
    transform: scale(1.08);
    transition: 0.5s;
}

#button5:hover {
    cursor: pointer;
    transform: scale(1.08);
    transition: 0.5s;
}

.main-section {
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.info-buttons {
    display: flex;
    flex-direction: row;
    gap: 80px;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    border-radius: 8px;
}

/* button {
    width: 100px;
    height: auto;
    border-radius: 10px;
} */

.info-buttons {
    color: black;
    width: 68%;
}

.info-div {
    /* border: solid black; */
    width: 50%;
    height: 400px;
}

.info-show {
    /* border: solid black; */
    border-radius: 20px;
    /* background-color: black; */
    color: black;
    margin-top: -30px;
}

.current-status {
    /* border: solid black; */
    width: 100%;
    height: 400px;
    text-align: center;
}

.all-info > hr {
    border: 2px solid black;
}
