.investments-form {
    background-color: #848884;
    padding-bottom: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 500px;
    color: black;
    box-shadow: 10px 10px 5px;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#investment-header {
    margin-bottom: -10px
}

#investment-submit {
    width: 100px;
} 

#investment-submit:hover {
    cursor: pointer;
}