* {
    font-family: Verdana;
}

.daily-form {
    width: 400px;
    float: left;
    display: block;
    justify-items: center;
}

.daily-chart {
    float: left;
    display: block;
}

.gains-chart {
    display: block;
    float: right;
}

.losses-chart {
    display: block;
    float: right;
}

td {
    padding: 5px 20px;
}

