* {
    font-family: Verdana;
}

.daily-form {
    width: 400px;
    float: left;
    display: block;
    justify-items: center;
    margin-top: -400px;
    margin-right: -50px;
}

.table-container {
    margin-top: -400px;
    margin-left: -50px;
}

.daily-chart {
    float: left;
    display: block;
}

.gains-chart {
    display: block;
    float: left;
}

.losses-chart {
    display: block;
    float: right;
}

#top-three {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#second-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

td {
    padding: 5px 20px;
}

