.tax-form {
    border: solid-black;
    background-color: lightgreen;
    padding-bottom: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tax-header {
    margin-bottom: -10px
}

.tax-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select {
    width: 80%;
    margin: 15px 0;
    border-radius: 8px;
}

#tax-submit-button {
    width: 100px;
}