.App {
  text-align: center;
}

nav {
  height: 70px;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.routes {
  /* border: solid black; */
}

.info-div {
  border: solid black;
  width: 500px;
  height: 400px;
  float: right;
}

.info-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  align-items: center;
  justify-content: center;
}

.tax-form {
  display: inline-block;
  vertical-align: middle;
}

.current-status {
  border: solid black;
  width: 400px;
  height: 1000px;
  float: right;
  text-align: center;
}